body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body, html {
    background-color: #333;
}

h2, h1, p {
    color: white;
}

.center {
    text-align: center;
}

.heading {
    margin-top: 15px;
    margin-bottom: 15px;
}

.container {
    min-width: 768px;
}

.nav {
    display: inline-block;
    float: none;
}

.nav {
    text-align: center;
}

.white {
    color: #fff;
}

.hover>li>a:hover {
    color: #60e800;
    background-color: transparent;
    border-radius: 4px;
}

.hover>li>a:focus {
    background-color: transparent;
    border-radius: 4px;
}

.hover>li>a {
    color: #fff;
    border-radius: 4px;
}

.hover>li {
    font-size: 24px;
    font-weight: 300;
}

.g-img {
    width: 200px;
    filter: url("#turbulence-1");
}

.twitter>a {
    background-color: #1A93DD !important;
    color: white !important;
}

.twitter>a:hover {
    background-color: #1582c1 !important;
    color: white !important;
}

.email>a {
    background-color: #EC1E10 !important;
    color: white !important;
}

.email>a:hover {
    background-color: #ce180e !important;
    color: white !important;
}

.btn-primary {
    color: #fff;
    background-color: rgba(96, 125, 139, 0);
    border-color: #ffffff;
}

.btn-dark {
    color: #fff;
    border-color: #fff;
}

.desc {
    color: white;
    font-size: 18px !important;
    font-weight: 300 !important;
    margin-top: 20px;
}

.desc-dark {
    color: #fff;
}

.banner {
    width: 100%;
    height: 150px;
    padding: 10px;
    background-color: #e6e6e6;
}


.cadenza {
    background-color: #363750;
    background-size: cover;
    background-position-x: 100%;
}

p {
    font-size: 18px;
}

.itm {
    margin-bottom: 25px;
}

.label {
    font-weight: 300;
    line-height: 32px;
    font-size: 14px;
}

.logoType {
    align-self: center
}

.pad {
    margin-top: 50px;
}

td {
    width: 33%;
    text-align: center;
    border-bottom: none;
}

@media only screen and (max-device-width: 480px) {
    .pad {
        margin-top: 25px;
    }
    .logoType h2 {
        font-size: 20px !important;
    }
    .jumbotron {
        border-radius: 0px !important;
        margin-bottom: 0px;
        background-image: none;
    }
}

@media only screen and (max-device-width: 1280px) {
    .logo {
        width: 175px;
    }
    .desc {
        font-size: 16px !important;
        margin-top: 20px;
    }
}

.btn-primary:hover {
    color: #00d1ff !important;
    background-color: rgba(40, 96, 144, 0) !important;
    border-color: #00d1ff !important;
}

.btn-primary:active {
    color: #00d1ff !important;
    background-color: rgba(0, 0, 0, 0.15) !important;
    border-color: #00d1ff !important;
}

.btn-primary:focus {
    color: #fff;
    background-color: rgba(96, 125, 139, 0);
    border-color: #ffffff;
}